extends layout

block content
  h3 Created Admins
  table
    tr
      th Name
      th Email
      th Dept
    for admin in admins
      tr
        td #{admin.admin_name}
        td #{admin.admin_email}
        td #{admin.dept_id}
