extends layout

block content
  h2 Create Page
  form(action="/ResultController/AdminCreate",method="POST")
    input(name="name",type="text",placeholder="Enter admin name")
    br
    br
    input(name="email",type="email",placeholder="Enter email address")
    br
    br
    input(name="password",type="password",placeholder="Enter admin Password")
    br
    br
    select(name="dept")
      option(value="CSE") CSE
      option(value="MBBS") MBBS
    br
    br
    button(type="submit") Submit
    br 
    br
