extends layout

block content
  h2 Create Dept
  form(action="/createDept",method="POST")
    input(name="dept_id",type="text",placeholder="Enter deptID")
    br
    br
    input(name="dept_name",type="text",placeholder="Enter Dept name")
    br
    br
    input(name="degree",type="text",placeholder="Degree")
    br
    br
    button(type="submit") Submit
    br 
    br
