extends layout

block content
  p All Users.
  br
  br
  a(href='/Teacher') Teacher
  br
  br
  a(href='/ResultController') ResultController
  br
  br
  a(href='/Student') Student
  br
  br
  a(href='/Admin') Admin
  br
  br
  a(href='/webmaster') Webmaster