doctype html
html(lang='en')
  include common/indexHead.pug
  +head()
  body
    canvas#particles-js
    header
      h1 Gono University
        p Result Hub 
      include common/navbar.pug
      +navbar(user)
    .main
script(src='/js/particle.js') 