doctype html
html(lang='en')
  include common/indexHead.pug
  +head(title)
  body
    header
      h1 Gono University
        p Result Hub 
      include common/navbarIndex.pug
      +navbar()
    br
    img(src="/image/front-logo.png")
    h1 Welcome to #{title} 
    h2 Result Processing System
    br
    br
    br
