extends layout_login

block content
  h1= title
  h3 Welcome to #{title} Result Hive
  h4 Please Login to enter
  form(action="/",method="POST")
    input(name="email",type="email",placeholder="Enter email address")
    br
    br
    input(name="password",type="password",placeholder="Enter your Password")
    br
    br
    button(type="submit") Submit