extends layout

block content
  h2 Login Page
  form(action="/login",method="POST")
    input(placeholder='Enter your email', required=true, name='email', type='email', value='')
    br
    br
    input(placeholder='Enter your current password',required=true, name='password', type='password', value='')
    br
    br
    button(type="submit") Submit
    br 
    br

