doctype html
html(lang='en')
  include common/indexHead.pug
  +head(title)
  body 
    canvas#particles-js
    .container
      form(action="/login",method="POST")
        label Email
        br
        input(placeholder='Enter your email', required=true, name='email', type='email', value='',size=35)
        br
        br
        br
        br
        label Password
        br
        input(placeholder='Password',required=true, name='password', type='password', value='',size=35)
        br
        br
        br
        .submit_btn
          button(type='submit') 
            p Login
        br

      a(href='/')
        button  
          p Home Page



    script(src='/js/particle.js')
