extends layout

block content
  h2 Created Departments
  table
    tr
      th(scope="col") Dept ID
      th(scope="col") Dept Name
      th(scope="col") Degree
    for dept in depts
      tr
        th(scope="col") #{dept.dept_id}
        th(scope="col") #{dept.dept_name}
        th(scope="col") #{dept.degree}
        th(scope="col")
          form(action="/showDept/"+dept.id+"/delete",method="POST")
            button(type="submit") Delete
