extends layout

block content
  h2 webmasters
  br 
  br
  a(href='/createUsers') Create Users
  br 
  br
  a(href='/showUsers') Show created Users
  br 
  br
  a(href='/createDept') Create Dept
  br 
  br
  a(href='/showDept') Show created Dept
  br 
  br
  a(href='/createRole') Create Role
  br 
  br
  a(href='/showRole') Show created Roles
  br 
  br
  a(href='/logout') Logout

