doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body

    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar()

    br
    a(href='/createAdmins')
      button.indexpage Create Admins
    br 
    br
    a(href='/showAdmins')
      button.indexpage  Show created Users
    br 
    br
    a(href='/createDept')
      button.indexpage  Create Dept
    br 
    br
    a(href='/showDept')
      button.indexpage  Show created Dept
    br 
    br
    a(href='/createRole')
      button.indexpage  Create Role
    br 
    br
    a(href='/showRole')
      button.indexpage  Show created Roles
    br 
    br
    a(href='/createSession')
      button.indexpage  Create Session
    br
    br
    a(href='/createdSessions')
      button.indexpage  Created Sessions
    br
    br
    a(href='/printMarks')
      button.indexpage  View 30% and 100% Result
    br
    br
    a(href='/selectForPublish')
      button.indexpage  Select for Publish
    br
    br
    a(href='/print')
      button.indexpage  Print Session Result
    br
    br
    a(href='/printSupplyImprove')
      button.indexpage  Print Supplementary & Improvement Result
    br
    br
    a(href='/resultArchive')
      button.indexpage  Results Archive
    br
    br


