doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body

    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar()

    br
    br
    a(href='/External/uploadResult')
      button.indexpage Upload Result
    br
    br
    a(href='/External/reviewResult70')
      button.indexpage Review Result
    br
    br
    //a(href='/External/uploadSupplyOrImprove')
    //  button.indexpage Upload Supply or Improvement Result

    br
    br
