doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body

    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar(user)
    br
    a(href='/Admin/createUsers')
      button.indexpage Create Users
    br
    br
    a(href='/Admin/showUsers')
      button.indexpage Show Users
    br
    br
    a(href='/Admin/createSubject')
      button.indexpage Create Subject
    br
    br
    a(href='/Admin/Subjects')
      button.indexpage Subjects
    br
    br
    a(href='/Admin/assignSubject')
      button.indexpage Assign Subject
    br
    br
    a(href='/Admin/assignedSubjects')
      button.indexpage Assigned Subjects
    br
    br
    a(href='/Admin/studentData')
      button.indexpage Student Data Input
    br
    br
    a(href='/Admin/showStudentData')
      button.indexpage Student Data
    br
    br
    a(href='/Admin/semesterUpgrade')
      button.indexpage Semester Upgrade
    br
    br
    a(href='/Admin/createChairman')
      button.indexpage Create Chairman
    br
    br
    a(href='/Admin/showChairmans')
      button.indexpage Chairmans
    br
    br
