doctype html
html(lang='en')
  include ../common/teacherHead.pug
  +head()
  body
    canvas#particles-js
    header
      h1 Gono University
        p Result Hub 
      include ../common/teacherNavbar.pug
      +navbar()

    .body
      br
      br
      a(href='/Teacher/uploadResult30') 
        button.indexpage Upload 30% Result
      br
      br
      a(href='/Teacher/uploadResult70') 
        button.indexpage Upload 70% Result
      br
      br
      a(href='/Teacher/reviewResult30')
        button.indexpage Review & Submit 30% Result
      br
      br
      a(href='/Teacher/reviewResult70')
        button.indexpage Review 70% Result
      br
      br
      a(href='/Teacher/uploadSupplyOrImprove')
        button.indexpage Upload Supplementary or Improvement Result
      br
      br
      if works
        a(href='/Teacher/chairman')
          button.indexpage Chairman


script(src='/js/particle.js') 